<section class="section">
    <div class="container">
        <h1 class="title">{{title}}</h1>
        <nav>
            <ul>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li>
                    <a routerLink="/register">Register</a>
                </li>
                <li>
                    <a routerLink="/configure-passphrase">Configure Passphrase</a>
                </li>
            </ul>
        </nav>
        <router-outlet></router-outlet>
    </div>
</section>
