<div class="columns is-centered">
    <div class="column is-12-mobile is-4-desktop">
        <ng-container *ngIf="state === NOT_REGISTERED">
            <register (registerEmitter)="onRegister($event)">
            </register>
        </ng-container>
        <ng-container *ngIf="state === REGISTERING">
            <spinner [text]="'Registering'"></spinner>
        </ng-container>
        <ng-container *ngIf="state === USERNAME_TAKEN">
            <register (registerEmitter)="onRegister($event)"
                      [usernameTaken]="true"
                      [username]="username"
            >
            </register>
        </ng-container>
    </div>
</div>
