<div class="columns is-centered">
    <div class="column is-12-mobile is-4-desktop">
        <ng-container *ngIf="state === NOT_REGISTERED">
            <app-register (registerEmitter)="onRegister($event)">
            </app-register>
        </ng-container>
        <ng-container *ngIf="state === REGISTERING">
            <app-spinner [text]="'Registering'"></app-spinner>
        </ng-container>
        <ng-container *ngIf="state === USERNAME_TAKEN">
            <app-register (registerEmitter)="onRegister($event)"
                          [usernameTaken]="true"
                          [username]="username"
            >
            </app-register>
        </ng-container>
    </div>
</div>
