<div class="columns is-centered">
    <div class="column is-12-mobile is-4-desktop">
        <ng-container *ngIf="loginState === NOT_LOGGED_IN">
            <login (loginEmitter)="onLogin($event)">
            </login>
        </ng-container>
        <ng-container *ngIf="loginState === LOGGING_IN">
            <spinner [text]="'Logging in'"></spinner>
        </ng-container>
        <ng-container *ngIf="loginState === DOWNLOADING_KEYS">
            <spinner [text]="'Downloading keys'"></spinner>
        </ng-container>
        <ng-container *ngIf="loginState === ENTERING_PASSPHRASE">
            <app-enter-passphrase
                (passphraseEmitter)="onPassphraseConfigured($event)"
                [passphraseIncorrect]="passphraseIncorrect">
            </app-enter-passphrase>
        </ng-container>
        <ng-container *ngIf="loginState === DECRYPTING_KEYS">
            <spinner [text]="'Decrypting keys'"></spinner>
        </ng-container>
        <ng-container *ngIf="loginState === DECRYPTED_KEYS">
            <h3>Finished decrypting keys</h3>
        </ng-container>
    </div>
</div>
