<div *ngIf="etchedApi.getUser()" class="columns is-centered">
    <div class="column is-12-mobile is-8-tablet is-8-desktop">
        <app-entry-title (titleEmitter)="onTitleChange($event)" class="columns has-text-left">
        </app-entry-title>
        <div *ngIf="etches.length > 0" class="columns has-text-left">
            <div class="column">
                <ul>
                    <li *ngFor="let e of etches">{{ e }}</li>
                </ul>
            </div>
        </div>
        <div class="columns has-text-left">
            <div class="column is-full">
                <div
                    #editor
                    id="entry-editor"
                    class="etched-editable"
                    contentEditable="true"
                    data-placeholder="What's on your mind?"
                    (input)="onEtchInput($event)"
                    (keydown)="onEtchKeydown($event)"
                ></div>
            </div>
        </div>
    </div>
</div>
