<div *ngIf="etchedApi.getUser() !== null" class="columns is-centered">
    <div class="column">
        <p>Plaintext: {{ plaintext }}</p>
        <button
            class="button is-primary"
            type="submit"
            (click)="onSubmit()">
            Encrypt
        </button>
        <p style="overflow-wrap: break-word; word-break: break-all;">Ciphertext: {{ ciphertext
            }}</p>
        <p>Decrypted plaintext: {{ decryptedPlaintext }}</p>
    </div>
    <!--<div *ngIf="inFlight" class="column is-12-mobile is-4-desktop">-->
    <!--<spinner [text]="'Logging in'"></spinner>-->
    <!--</div>-->
</div>
