<!--
Using [hidden] because we need to call .focus() on the `title-input`.
If we used `*ngIf` it wouldn't be rendered in the dom and we can't select it.
Using [hidden] allows us to select it but not display it.
-->
<div class="column is-full" id="title-edit-box" [hidden]="!isEditing">
    <form [formGroup]="titleForm">
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field control is-expanded">
                    <input
                        id="title-input"
                        class="input"
                        type="text"
                        placeholder="Title"
                        name="title"
                        formControlName="title"
                    />
                    <p *ngIf="titleForm.controls.title.errors?.required"
                       class="error-help help">
                        Cannot be empty
                    </p>
                    <p *ngIf="titleForm.controls.title.errors?.maxlength"
                       class="error-help help">
                        Title cannot be more than
                        {{ TITLE_MAX_LENGTH }} characters
                        long
                    </p>
                    <p
                        *ngIf="titleForm.controls.title.errors?.isWhitespace &&
                            !titleForm.controls.title.errors?.required"
                        class="error-help help">
                        Title cannot be blank
                    </p>
                </div>
                <div class="field is-narrow control">
                    <button
                        id="save-button"
                        class="button is-primary"
                        type="button"
                        (click)="toggleEdit(true)"
                        [disabled]="!titleForm.valid"
                    >
                        Save
                    </button>
                </div>
                <div class="field is-narrow control">
                    <button
                        id="cancel-button"
                        (click)="toggleEdit()"
                        class="button"
                        type="button">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<ng-container *ngIf="!isEditing">
    <div class="column">
        <h4>{{ title }}</h4>
    </div>
    <div class="column is-narrow">
        <button
            id="edit-button"
            class="button is-small is-pulled-right"
            type="button"
            (click)="toggleEdit()"
        >
            Edit
        </button>
    </div>
</ng-container>
